@charset "UTF-8";
* {
  font-family: 微軟正黑體;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  /* 拿掉底線 */
}

html {
  scroll-behavior: smooth;
}

:root {
  --main-color: #11ab9e;
  --sec-color: #ff566c;
  --white: #fff;
  --s-main-font-size: 26px;
  --s-sec-font-size: 20px;
  --s-descript-font-size: 16px;
  --main-font-size: 32px;
  --sec-font-size: 24px;
  --descript-font-size: 20px;
  --box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.action {
  color: white;
  background: var(--main-color);
  border-radius: 0.5rem;
  font-size: var(--s-sec-font-size);
  padding: 0.3rem 0.6rem;
  transition: all 0.1s linear;
  cursor: pointer;
}

.action:hover {
  background: #0b6f67;
  box-shadow: 0px 1px 5px 0px rgb(87, 87, 87);
}

.header {
  height: 60px;
  width: 100%;
  background-color: var(--white);
  box-shadow: var(--box-shadow);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 99;
}

.logo {
  font-size: var(--main-font-size);
  font-weight: 700;
  color: var(--main-color);
}

.nav-wrap {
  position: absolute;
  top: 100%;
  width: 100%;
  text-align: center;
  background-color: var(--white);
  transform: scale(1, 0);
  transition: transform 0.2s ease-out;
  transform-origin: top;
}

.nav-list {
  padding: 0.5rem;
  font-size: var(--sec-font-size);
  font-weight: 600;
  opacity: 0;
}
.nav-list .nav-link {
  color: var(--main-color);
}

.navbar-toggle-input:checked ~ .nav-wrap {
  transform: scale(1, 1);
}

.navbar-toggle-input:checked ~ .nav-wrap .nav-list {
  opacity: 1;
  transition: opacity 0.2s ease-out 0.15s;
}

.navbar-toggle-label {
  position: absolute;
  right: 40px;
  width: 30px;
  height: 30px;
  top: 18.5px;
}

.hamburger {
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: var(--main-color);
}

.hamburger::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 3px;
  top: 10px;
  background-color: var(--main-color);
}

.hamburger::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 3px;
  top: 20px;
  background-color: var(--main-color);
}

.navbar-toggle-input {
  position: absolute;
  visibility: hidden;
}

.top {
  padding-top: 6rem;
  width: 100%;
}
.top .container {
  width: 85%;
  margin: 0 auto;
}
.top .container .main-banner {
  position: relative;
  padding: 0.25rem;
}
.top .container .main-banner .main-banner-img {
  width: 100%;
}
.top .container .main-banner .main-banner-content {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 30px;
}
.top .container .main-banner .main-banner-content .main-banner-title {
  font-size: var(--s-main-font-size);
  font-weight: 700;
  color: var(--main-color);
  margin-bottom: 1rem;
}
.top .container .main-banner .main-banner-content .main-banner-descript {
  font-size: var(--s-sec-font-size);
  color: var(--white);
  letter-spacing: 0.25rem;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  margin-bottom: 2rem;
}
.top .container .banner-bottom {
  display: flex;
  flex-direction: row;
}
.top .container .banner-bottom .sec-banner {
  width: 50%;
  padding: 0.25rem;
  position: relative;
}
.top .container .banner-bottom .sec-banner .sec-banner-img {
  width: 100%;
}
.top .container .banner-bottom .sec-banner .sec-banner-content {
  position: absolute;
  top: 50%;
  transform: translate(0px, -50%);
  left: 30px;
}
.top .container .banner-bottom .sec-banner .sec-banner-content .sec-banner-title {
  font-size: var(--s-sec-font-size);
  font-weight: 700;
  color: var(--white);
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  margin-bottom: 1.5rem;
}

.middle {
  width: 100%;
  margin-top: 2rem;
}
.middle .container {
  width: 85%;
  margin: 0 auto;
  position: relative;
}
.middle .container .card-wrap {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 0.5rem;
}
.middle .container .card-wrap .card {
  width: 100%;
  height: 350px;
  position: relative;
  background-color: #000;
}
.middle .container .card-wrap .card:hover > .card-content {
  opacity: 1;
}
.middle .container .card-wrap .card:hover > .card-img {
  opacity: 0.7;
}
.middle .container .card-wrap .card .card-img {
  width: 100%;
  height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 1;
  transition: opacity 0.2s ease-out 0.15s;
}
.middle .container .card-wrap .card .card-content {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  transition: opacity 0.2s ease-out 0.15s;
}
.middle .container .card-wrap .card .card-content .card-type {
  font-size: var(--main-font-size);
  font-weight: 600;
  color: var(--white);
  margin-bottom: 1rem;
}
.middle .container .card-wrap .card .card-content .card-name {
  font-size: var(--sec-font-size);
  font-weight: 600;
  color: var(--white);
  margin-bottom: 1.5rem;
}
.middle .container .model-wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  width: 70vw;
  max-width: 500px;
}
.middle .container .model-wrapper .model {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  border: 2px solid #fff;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  position: relative;
}
.middle .container .model-wrapper .model .model-text {
  align-self: center;
  font-size: var(--sec-font-size);
  margin-bottom: 1rem;
}
.middle .container .model-wrapper .model .model-delete {
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
}
.middle .container .model-wrapper .model .model-id {
  margin-top: 1rem;
}

.bottom {
  width: 100%;
  margin-top: 2rem;
}
.bottom .container {
  width: 85%;
  margin: 0 auto;
}
.bottom .container .contribute-wrap {
  width: 100%;
}
.bottom .container .contribute-wrap .contribute-img {
  width: 100%;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}
.bottom .container .contribute-wrap .contribute-content {
  width: 100%;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bottom .container .contribute-wrap .contribute-content .contribute-title {
  font-size: var(--main-font-size);
  color: var(--main-color);
  font-weight: 700;
  margin-bottom: 1rem;
}
.bottom .container .contribute-wrap .contribute-content .contribute-descript {
  font-size: var(--sec-font-size);
  color: var(--main-color);
  margin-bottom: 1.5rem;
}

.footer {
  width: 100%;
  height: 40px;
  background-color: var(--main-color);
  margin-top: 2rem;
}
.footer .footer-content {
  font-family: 微軟正黑體;
  font-size: var(--s-descript-font-size);
  color: var(--white);
  text-align: center;
  line-height: 40px;
}

@media screen and (min-width: 768px) {
  .action {
    color: white;
    background: var(--main-color);
    border-radius: 0.5rem;
    font-size: var(--sec-font-size);
    padding: 0.5rem 1rem;
    transition: all 0.1s linear;
    cursor: pointer;
  }
  .navbar-toggle-label {
    display: none;
  }
  .header {
    all: unset;
    height: 60px;
    width: 100%;
    background-color: var(--white);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    z-index: 99;
  }
  .nav-wrap {
    all: unset;
  }
  .nav-list {
    all: unset;
    padding: 0.5rem;
    font-size: var(--sec-font-size);
    font-weight: 600;
  }
  .nav-list .nav-link {
    color: var(--main-color);
  }
  .top .container {
    width: 85%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
  }
  .top .container .main-banner {
    width: 67%;
    padding-left: 0;
  }
  .top .container .main-banner .main-banner-content .main-banner-title {
    font-size: 40pt;
  }
  .top .container .main-banner .main-banner-content .main-banner-descript {
    font-size: var(--main-font-size);
  }
  .top .container .main-banner .main-banner-img {
    width: 100%;
  }
  .top .container .banner-bottom {
    width: 33%;
    display: flex;
    flex-direction: column;
  }
  .top .container .banner-bottom .sec-banner {
    width: 100%;
  }
  .top .container .banner-bottom .sec-banner .sec-banner-content .sec-banner-title {
    font-size: var(--main-font-size);
  }
  .top .container .banner-bottom .sec-banner .sec-banner-img {
    width: 100%;
  }
  .bottom {
    width: 100%;
  }
  .bottom .container {
    width: 85%;
  }
  .bottom .container .contribute-wrap {
    all: unset;
    display: flex;
    flex-direction: row;
  }
  .bottom .container .contribute-wrap .contribute-img {
    width: 60%;
    height: 400px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .bottom .container .contribute-wrap .contribute-content {
    all: unset;
    width: 40%;
    padding-left: 1.5rem;
    align-self: center;
  }
  .footer .footer-content {
    font-size: var(--descript-font-size);
  }
}/*# sourceMappingURL=kidsRoom.css.map */